<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <script src="main.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-body">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="about">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <h2>Ini muncul dari halaman about.html</h2>
        <div class="row mt-4">
            <div class="col-md-4">
                <img src="https://amaan.co.id/wp-content/uploads/2023/03/inilah-berbagi_gambar-1-1024x1024.png" class="img-fluid rounded" alt="Deskripsi Gambar">
            </div>
            <div class="col-md-8">
                <p class="lead">
                    Selamat datang di halaman About kami! Di sini, Anda akan menemukan informasi tentang misi, visi, dan nilai-nilai kami. 
                    Kami berdedikasi untuk memberikan yang terbaik bagi pelanggan dan selalu berusaha untuk meningkatkan layanan kami.
                </p>
                <p>
                    Kami percaya bahwa dengan kerjasama dan inovasi, kami dapat mencapai tujuan kami dan membawa perubahan positif bagi komunitas 
                    yang kami layani. Terima kasih telah mengunjungi halaman kami dan semoga Anda menemukan apa yang Anda cari.
                </p>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybBogGzjvM9d1Kp3yDkL6KAQ5B1g9UNeXh4A+E1mZ77+Q5vB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-qYg5eC2Hlg9nHDgctyihqW01hZ0h/H5F+AsO3e9vyMQTBvXDjiS+0xww0Pc2Y7tT" crossorigin="anonymous"></script>
</body>
</html>
